<html>
  <head>
    <title><%= vehicle.make %> <%= vehicle.model %> Details</title>
  </head>
  <body>
    <h1><%= vehicle.make %> <%= vehicle.model %> - <%= vehicle.year %></h1>
    <img src="<%=public/images/vehicules/aventor.jpg %>" alt="<%= vehicle.make %> <%= vehicle.model %>">
    <p><strong>Price:</strong> $<%= vehicle.price.toLocaleString() %></p>
    <p><strong>Mileage:</strong> <%= vehicle.mileage.toLocaleString() %> miles</p>
    <p><%= vehicle.description %></p>
  </body>
</html>
